
@if (@ViewBag.Message == "Success")
{
    <div class="alert alert-success alert fade show" role="alert">
        <strong>Success !</strong>  Password Updated Successfully.
    </div>
}
else if (@ViewBag.Message == "Failed")
{
    <div class="alert alert-danger alert fade show" role="alert">
        <strong>Failed !</strong>  Password not Updated.
    </div>
}


    <table class="table table-borderless">
        <thead>
            <tr>
                <th scope="col" colspan="3" style=" text-align: center; background-color: orange; color: white;">Update Password</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    User Current Password :
                </td>
                <td>
                    <input type="text" id="currentpassword" onchange="checkcurrentpassword()" />
                </td>
                <td><label id="currentpasswordlabel" />
                    <label id="successLabel" />
                </td>
            </tr>
            <tr>
                <td>New Password : </td>
                <td>
                    <input type="text" id="newpassword" onchange="PasswordVerify()" />
                </td>
                <td><label id="newpasswordlabel" /></td>
            </tr>
            <tr>
                <td>Confirm New Password : </td>
                <td>
                    <input type="text" id="confirmnewpassword" onchange="MatchPassword()" />
                </td>
                <td><label id="confirmpasswordlabel" /></td>
            </tr>
            <tr>
                <td><input type="button" id="btnupdatepassword" class="btn btn-secondary" value="Update Password" style="display:none" onclick="UpdatePassword()" /></td>
                <td colspan="2"><input type="button" id="btnreset" class="btn btn-primary" value="Reset" onclick="clearLabel()" /></td>
            </tr>
                    </tbody>
    </table>

    <script src="~/Scripts/jquery-3.4.1.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
        var a = false, b = false, c = false;

        function UpdatePassword() {
            var newpwd = $("#newpassword").val();
            if (newpwd != null || newpwd != '') {
                $.ajax({
                    url: '/JSONCalls/UpdatePassword',
                    type: "Get",
                    dataType: "json",
                    contentType: "application/json",
                    data: { Newpwd: newpwd },
                    success: function (res) {
                        clearLabel();
                        if (res > 0)
                        {                           
                            alert('Password Updated Successfully.');                            
                            $('#btnupdatepassword').hide();
                                                        
                        }
                        else {
                            alert('!Error: Password Not Updated.');
                            $('#btnupdatepassword').hide();
                                }
                    },
                    error() {
                        clearLabel();
                        $('#btnupdatepassword').hide();
                        alert('!Error: Please Try again later.');
                            
                             }
                });
            }
            else {
                clearLabel();
                $('#btnupdatepassword').hide();
                alert('!Error: Please fill all Fields.');
                
            }
        };

        function checkcurrentpassword() {
            var currentpwd = $("#currentpassword").val();
            if (currentpwd != null || currentpwd != '') {
                $.ajax({
                    url: '/JSONCalls/CheckCurrentPassword',
                    type: "Get",
                    dataType: "json",
                    contentType: "application/json",
                    data: { password: currentpwd },
                    success: function (res) {
                        if (res > 0) {
                            // $('#btnupdatepassword').show();
                            a = true;
                            $('#currentpassword').css("background", "PaleGreen");
                            $('#currentpasswordlabel').text('Current Password Matched');
                            if (a && b && c) { $('#btnupdatepassword').show(); }
                        }
                        else {
                            a = false;
                            $('#btnupdatepassword').hide();
                            $('#currentpassword').css("background", "DarkSalmon");
                            $('#currentpasswordlabel').text('Current Password Not Matched');
                        }
                    },
                    error() {
                        $('#btnupdatepassword').hide();
                        alert('Error! Please Try again later.');
                    }
                });
            }
            else {
                $('#btnupdatepassword').hide();
                alert('Enter Current Password.');

            }
        };

        function PasswordVerify() {
            var pwdformat = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{6,20}$/;
            var pwd = $("#newpassword").val();
            if (pwd.match(pwdformat)) {
                b = true;
                $('#newpasswordlabel').text('Valid Password');
                $('#newpassword').css("background", "PaleGreen");
                if ($('#confirmnewpassword').val() != '') { MatchPassword(); }
                if (a && b && c) { $('#btnupdatepassword').show(); }
            }
            else {
                b = false;
                $('#btnupdatepassword').hide();
                $('#newpasswordlabel').text('Not a Valid Password');
                $('#newpassword').css("background", "DarkSalmon");
                alert("Password must be minimum 6 characters long which contain at least one lowercase letter, one uppercase letter, one numeric digit, and one special character");
            }

        };

        function MatchPassword() {
            var newpwd = $("#newpassword").val();
            var confirmnewpassword = $('#confirmnewpassword').val();
            if (newpwd == confirmnewpassword) {
                c = true;
                if (a && b && c) { $('#btnupdatepassword').show(); }
                $('#confirmnewpassword').css("background", "PaleGreen");
                $('#confirmpasswordlabel').text('New Password and Confrim Password Matched')
            }
            else {
                c = false;
                $('#confirmnewpassword').css("background", "DarkSalmon");
                $('#confirmpasswordlabel').text('New Password and Confrim Password Not Matched')
                $('#btnupdatepassword').hide();
            }

        };


        function clearLabel() {
            $('#currentpasswordlabel').text('');
            $('#newpasswordlabel').text('');
            $('#confirmpasswordlabel').text('');

            $("#currentpassword").val('');
            $("#newpassword").val('');
            $("#confirmnewpassword").val('');

            $('#btnupdatepassword').hide();
            $('input[type=text]').css("background", "White");
        }
    </script>

